h1 {
    color: white;
    background-color: midnightblue;
    font-size: 50px;
    font-family: 'Times New Romain', 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 40px;
    
    text-align: center;

}
h1:hover{
    background-color: antiquewhite;
    color: rgb(15, 144, 230);
}
.bar1 {
    width: 50px;
    height: 300px;
    position: relative;
    background-color: rgb(5, 3, 1);
}
.bar2 {
    height:50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
}
h2:hover{
    background-color: antiquewhite;
    color: rgb(15, 144, 230);
}
h3 {
    color:rgb(81, 81, 159);
}
h3:hover {
    color:rgb(15, 144, 230);
}
li:hover {
    color: skyblue;
}
.Email:hover {
    background-color: antiquewhite;
    color: blue
}
.bar{
    width: 100%;
    background-color: midnightblue;
    height: 50px;
    position: relative;    
}
.bar:hover {
    background-color: antiquewhite;
}
